#rootAp,#vaultsScrollPane,#vaultsHbox
{
     -fx-background-color: #404040;
}
#username
{
   -fx-text-fill: white;
   -fx-font-size: 25px;
   -fx-alignment:center;
}
#usernameMini
{
   -fx-text-fill: white;
   -fx-font-size: 15px;
   -fx-alignment:center;
}
#newVaultLabel
{
   -fx-text-fill: black;
   -fx-font-size: 20px;
   -fx-alignment:center;
   -fx-cursor: HAND;
}
#outlineBox
{
    -fx-background-color: linear-gradient(to right bottom, rgba(255,139,3,1) 35%, rgba(255, 0, 0, 0.65) 94%);
    -fx-background-radius: 5px;
}
#mainBox
{
    -fx-fill:#1F1C1C;
    -fx-cursor: HAND;
}
#vaultImg
{
    -fx-image: url("Images/vaultIcon.png");
    -fx-cursor: HAND;
}
#mainBoxSelectedVault
{
    -fx-fill:#1F1C1C;
}
#vaultImgSelectedVault
{
    -fx-image: url("Images/vaultIcon.png");
}
#unlockButton,#newVaultButton
{
    -fx-background-color: #FCC87B;
    -fx-cursor: HAND;
}
.text-field:focused
{
    -fx-focus-color: white;
}
#backButton
{
    -fx-cursor: HAND;
    -fx-image: url("Images/left.png");
}
#passErrorMessageLabel,#generalErrorMessageLabel
{
    -fx-text-fill: red;
    -fx-font-size: 14px;
    -fx-alignment:center;
}



