#rootAp,#vaultsScrollPane,#vaultsHbox
{
     -fx-background-color: #202429;
     -fx-font-family: 'Roboto';
}
#username
{
   -fx-text-fill: white;
   -fx-font-size: 28px;
   -fx-alignment:center;
}
#usernameMini
{
   -fx-text-fill: white;
   -fx-font-size: 15px;
   -fx-alignment:center;
}
#newVaultBut
{
    -fx-background-color: #323539;
    -fx-background-radius:9px;

}
#newVaultLabel
{
   -fx-text-fill: white;
   -fx-font-size: 16px;
   -fx-alignment:center;
   -fx-cursor: HAND;
}
#outlineBox
{
    -fx-background-color: linear-gradient(to right bottom, #FF7E06 27.14%, #F90000 88.35%);
    -fx-background-radius: 5px;
}
#mainBox
{
    -fx-fill:#25282D;
    -fx-cursor: HAND;
}
#vaultImg
{
    -fx-image: url("Images/vaultIcon.png");
    -fx-cursor: HAND;
}
#mainBoxSelectedVault
{
    -fx-fill:#25282D;
}
#vaultImgSelectedVault
{
    -fx-image: url("Images/vaultIcon.png");
}
#unlockButton,#newVaultButton
{
    -fx-background-color: #FE932B;
    -fx-cursor: HAND;
    -fx-background-radius:0px;
}
#passwordField,#usernameField
{
    -fx-background-radius:0px;
}
.text-field:focused
{
    -fx-focus-color: white;
}
#backButton
{
    -fx-cursor: HAND;
    -fx-image: url("Images/left.png");
}
#passErrorMessageLabel,#generalErrorMessageLabel
{
    -fx-text-fill: red;
    -fx-font-size: 14px;
    -fx-alignment:center;
}