#newEntryContainer {
    -fx-background-color: #202429;
}
#leftRegion,#rightRegion
{
    -fx-background-color: #2A2F33;
    -fx-border-radius:7px;
    -fx-background-radius:7px;
}
#whiteLine
{
    -fx-fill: red;
}
#borderRect,#borderRect1,#borderRect2 {
    -fx-background-color: #2A2F33;
    -fx-border-radius:16px;
    -fx-background-radius:16px;
    -fx-border-width:1px;
    -fx-border-color:#C0C0C0;
    }
#webTypeLabel,#ccTypeLabel {
    -fx-text-fill:black;
    -fx-font-size:10px;
    -fx-alignment:center;
}
#webCredType,#ccType {
    -fx-cursor:"hand";
}
#saveBut,#cancelBut {
    -fx-border-width:0px;
    -fx-border-radius:5px;
    -fx-background-radius:5px;
    -fx-text-fill:white;
    -fx-font-size:15px;
    -fx-cursor:"hand";
    -fx-font-weight:bold;
}
#cancelBut
{
    -fx-background-color: #414950;
}
#saveBut
{
    -fx-background-color: #FF7E06;
}
#newLabel1,#newLabel2,#newLabel3,#newLabel4,#nameLabel,#typeLabel {
    -fx-text-fill:white;
    -fx-font-size:15px;
}
#newValue1,#newValue2,#newValue3,#newValue4,#nameValue,#ccNumberNew{
    -fx-background-color: #555A5E;
    -fx-background-radius:5px;
    -fx-font-size:13px;
    -fx-text-fill:black;
}
#typeTitle {
    -fx-text-fill:white;
    -fx-font-size:18px;
    -fx-alignment:center;
    -fx-font-weight:bold;
}
#whiteLine
{
    -fx-fill: #616161;
}
#expDateSlash {
    -fx-text-fill:white;
    -fx-font-size:18px;
    -fx-alignment:center;
}